@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #219ebc;
  --secondary: #8ecae6;
  --dark: #023047;
}

body {
  font-weight: 300;
  font-size: 1.05rem;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
  background-color: aliceblue;
}

.btn {
  font-family: inherit;
  cursor: pointer;
  outline: 0;
  font-size: 1.05rem;
}

a.btn.btn-outline-success:hover {
  background-color: #fb8500;
  border-color: #fb8500;
}

.btn-outline-success {
  border-color: #fb8500;
}

.btn-outline-success:focus {
  background-color: #fb8500;
}

.title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.card {
  padding-bottom: 20px;
  margin: 20px;
  box-shadow: 0 4px 21px -12px rgba(205, 5, 5, 0.79);
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background: #fff;
  text-align: center;
}

.search-meal {
  width: 70vw;
  display: flex;
  flex-direction: column;
}

.food-search {
  width: 100%;
  height: 3rem;
  margin-bottom: 0;
}

.search {
  width: 55%;
  padding: 0 1rem;
  font-size: 1.1rem;
  font-family: inherit;
  border: 1px solid var(--dark);
  color: var(--dark);
  margin-bottom: 0;
}

input {
  margin-bottom: 0;
}

.search::placeholder {
  color: var(--primary);
}

.search-btn:hover {
  background: var(--primary);
}

.food-result {
  position: relative;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: fit-content;
}

#food {
  position: relative;
  margin: 1rem 0;
  overflow-y: scroll;
  height: 60vh;
  width: 100%;
}

.food-item {
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 21px -12px rgba(205, 5, 5, 0.79);
  margin: 2rem 0;
}

.food-img img {
  width: 100%;
  display: block;
  margin-left: auto;
}

.food-name {
  padding: 1.5rem 0.5rem;
}

.food-name h3 {
  font-size: 1.4rem;
}

.recipe-btn {
  text-decoration: none;
  color: #fff;
  background: var(--secondary);
  font-weight: 500;
  font-size: 1.1rem;
  padding: 0.75rem 0;
  display: block;
  width: 175px;
  margin: 1rem auto;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}

.recipe-btn:hover {
  background: var(--dark);
}

.food-details {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  color: #023047;
  background: #ffb703;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  overflow-y: scroll;
  display: none;
  padding: 2rem 0;
}

.food-details::-webkit-scrollbar {
  width: 10px;
}
.food-details::-webkit-scrollbar-thumb {
  background: #f0f0f0;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
.showRecipe {
  width: fit-content;
  display: block;
}

.food-contents {
  margin: 2rem;
}

.food-contents p:not(.recipe-category) {
  padding: 1rem 0;
}

.recipe-title {
  letter-spacing: 1px;
  padding-bottom: 0.5rem;
}
.recipe-category {
  background: #023047;
  font-weight: 600;
  color: white;
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}
.close-button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #fb8500;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 90%;
}

.recipe-instruction {
  font-size: 14px;
  padding: 1rem 0;
}
.recipe-food-image img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.header {
  background-color: #023047;
  margin-top: 0%;
}
#displayDrink {
  display: flex;
  justify-content: center;
}

.image {
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto; /* center the image horizontally */
  max-width: 100%; /* set a maximum width for the image */
  height: auto; /* maintain aspect ratio by setting the height to auto */
}

.container {
  margin-top: 20px;
  text-align: center; /* center the text within the container */
}

button {
  padding: 0;
  border: none;
  background: none;
}

.modal {
  text-align: center !important;
}

.modal-header {
  color: #fb8500;
  text-align: center !important;
}

#randomDrink {
  background-color: #fb8500;
  color: white;
}

.modal button {
  background-color: #fb8500 !important;
}

.card {
  padding-bottom: 20px;
}

.noResults {
  grid-template-columns: 1fr !important;
  color: var(--dark);
  font-size: 1.8rem;
  font-weight: 600;
  width: 100%;
}

@media all and (max-width: 480px) {
  #food {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    overflow-y: scroll;
    height: fit-content;
    max-height: 45vh;
  }
  .food-item {
    margin: 0;
  }
  .food-details {
    width: 700px;
  }

  .close-button {
    margin-left: 90%;
  }
  body #autocomplete-list {
    z-index: 10;
    width: 10rem;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  #food {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    overflow-y: scroll;
    height: fit-content;
    max-height: 45vh;
  }
  .food-item {
    margin: 0;
  }
  .food-details {
    width: 700px;
  }
  .close-button {
    margin-left: 90%;
  }
  body #autocomplete-list {
    z-index: 10;
    width: 16.5rem;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  #food {
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    gap: 0.2rem;
    overflow-y: scroll;
    height: fit-content;
    max-height: 45vh;
  }
  body #autocomplete-list {
    z-index: 10;
    width: 24rem;
  }
}

@media all and (min-width: 1024px) {
  #food {
    grid-template-columns: repeat(6, 1fr);
    display: grid;
    gap: 0.2rem;
    overflow-y: scroll;
    height: fit-content;
    max-height: 45vh;
  }

  body #autocomplete-list {
    z-index: 10;
    /* width: 16.5rem; */
  }
}
.modal-body p {
  color: #ffb703;
}

#drinkbody p {
  color: #fb8500 !important;
}

.hide {
  display: none;
}

.card {
  margin: 20px;
  font-weight: bolder;
  font-size: x-large !important;
}
ul {
  list-style-type: none;
}

li {
  color: #219ebc;
}
h4 {
  color: #fb8500;
}

/* Media Queries */
@media (max-width: 767px) {
  .image {
    width: 100%; /* make the image full width on smaller screens */
  }

  .jumbotron a {
    display: block;
    margin: 20px auto;
  }
}
.wrapper {
  padding: 1rem;
  height: 85vh;
}

.food-item,
.meal-item {
  margin: 1rem 0;
}

.food-search {
  flex-direction: column;
  align-items: center;
}

.search {
  margin-bottom: 1rem;
  border-radius: 2rem;
}

.search-btn {
  margin-left: 0;
  margin-top: 1rem;
}

/******** meal page ******/
#meal-form {
  position: relative;
  width: 100%;
  margin: 10px;
  display: flex;
  justify-content: center;
}
#meal-input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
  width: 100%;
}

#search-button {
  background-color: rgb(9, 129, 19);
  border: none;
  cursor: pointer;
  padding: 10px;
}

#autocomplete-list {
  z-index: 10;
  background-color: white;
  width: 31rem;
  height: 4rem;
  position: absolute;
  top: 95%;
  left: 29.5%;
  padding-left: 3px;
  overflow-y: scroll;
  border: 1px solid #d4d4d4;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
}

.suggestion-item {
  position: relative;
  text-align: left;
  border-bottom: 1px solid;
  /* background-color: #f1f1f1; */
  width: 100%;
}

.suggestion-item:hover {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.selected-item {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 240px;
  font-size: 14px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.5s;
  text-align: center;
}
.selected-item:hover {
  cursor: pointer;
  scale: 101%;
}
.modal-container {
  padding: 20px;
  text-align: justify;
  position: relative;
}
.modal-container-headings {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-top: #f0f0f0 1px solid;
  border-bottom: #f0f0f0 1px solid;
}
.modal-container-headings > h2 {
  padding: 0;
}
.recipe-body-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 200px;
  padding: 0;
}

.recipe-body-side {
  width: 100%;
}
.ul {
  width: 33%;
  overflow-y: scroll;
  border-right: #f0f0f0 1px solid;
}

.recipe-body-side-li {
  list-style: none;
  font-size: 12px;
  color: black;
  text-align: left;
}
.recipe-body {
  width: 300px;
  height: 200px;
  margin-left: 20px;
}
.recipe-body-image {
  margin-left: 10px;
  width: 40%;
  height: 100%;
  padding-right: 10px;
  border-right: 1px solid #f0f0f0;
}
.recipe-body-image > img {
  width: 100%;
  height: 100%;
}
.misc-props {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 2px;
  margin-left: 10px;
}
.misc-props-recipe-category {
  font-size: 14px;
  color: white;
  background-color: #023047;
  width: fit-content;
  height: fit-content;
  padding: 3px 5px;
  border-radius: 4px;
  text-decoration: none;
}
.recipe-instruction {
  position: relative;

  height: 300px;
  overflow-y: auto;
}
r .recipe-instruction > h4 {
  color: black;
}
.recipe-instruction > p {
  position: relative;
  font-size: 12px;
  text-overflow: ellipsis;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
.container-local {
  display: flex;
  justify-content: center;
  align-items: center;
}
.view-clear-locals {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  text-decoration: underline;
}
.view-local:active {
  color: dodgerblue;
}
.save-to-locals {
  padding: 3px;
  height: 30px;
  width: 30px;
  background-color: #219ebc;
}
.save-to-locals:hover {
  cursor: pointer;
  scale: 102%;
}
